.senha
diario.txt
backend/__pycache__/fileoperations.cpython-313.pyc
backend/__pycache__/interface.cpython-313.pyc
backend/__pycache__/security.cpython-313.pyc
backup_diario
backend/build/DiarioDigital/PKG-00.toc
backend/DiarioDigital.spec
backend/build/DiarioDigital/xref-DiarioDigital.html
backend/build/DiarioDigital/warn-DiarioDigital.txt
backend/build/DiarioDigital/PYZ-00.pyz
backend/build/DiarioDigital/EXE-00.toc
backend/build/DiarioDigital/localpycs/pyimod01_archive.pyc
backend/build/DiarioDigital/localpycs/pyimod02_importers.pyc
backend/build/DiarioDigital/DiarioDigital.pkg
backend/build/DiarioDigital/base_library.zip
backend/build/DiarioDigital/localpycs/pyimod03_ctypes.pyc
backend/build/DiarioDigital/Analysis-00.toc
backend/build/DiarioDigital/localpycs/pyimod04_pywin32.pyc
backend/build/DiarioDigital/localpycs/struct.pyc
backend/build/DiarioDigital/PYZ-00.toc
